.label {
	display: grid;
}
.input {
	background-color: var(--color-white);
	padding: var(--padding-sm) var(--padding-md);
	box-shadow: var(--shadow-sm);
	border-radius: var(--radius-sm);
	border: none;
	outline: transparent;
	width: 100%;
	appearance: none;
}
.input::placeholder {
	line-height: 24px;
	color: var(--color-gray-light);
}
.inputErr {
	outline: 1px solid var(--color-red);
}
.input:focus {
	box-shadow: var(--shadow-md);
}
.err {
	color: var(--color-red);
	padding: 0 var(--padding-md);
}
