.products {
	display: grid;
	place-items: center;

	grid-template-rows: auto auto 1fr auto;
	grid-template-areas:
		"search"
		"filters"
		"products"
		"paged";
	gap: var(--gap-md);
	min-height: 100%;
	padding: var(--padding-md) var(--padding-sm);
}
.search {
	grid-area: search;
	width: 100%;
	max-width: 550px;
}
.wrapperFormProducts {
	grid-area: filters;
}
.productCards {
	grid-area: products;
}
.paged {
	grid-area: paged;
}
@media screen and (min-width: 920px) {
	.products {
		grid-template-columns: auto 1fr;
		grid-template-areas:
			"filters search"
			"filters products"
			"filters products"
			"filters paged";
		padding: var(--padding-md);
	}
	.wrapperFormProducts {
		box-shadow: var(--shadow-md);
		border-radius: var(--radius-md);
		padding: var(--padding-md);
		justify-self: stretch;
		align-self: stretch;
	}
}
