.aside {
	display: flex;
	flex-direction: column;
	gap: var(--gap-big);
	align-items: center;
	padding: var(--padding-sm);
	box-shadow: var(--shadow-sm);
	border-radius: 0 var(--radius-sm) var(--radius-sm) 0;
	background-color: var(--color-gray-hard);
	color: var(--color-white);
}

.asideCollapse {
	position: absolute;
	z-index: 10;
	height: 100vh;
}
.iconCollapseMenu {
	margin-right: auto;
}

.logo {
	width: 60px;
	height: 60px;
}
@media screen and (min-width: 1280px) {
	.asideCollapse {
		position: initial;
		height: initial;
	}
}
