.aside {
	padding: var(--padding-sm);
	box-shadow: var(--shadow-sm);
	border-radius: 0 var(--radius-sm) var(--radius-sm) 0;
	background-color: var(--color-gray-hard);
	color: var(--color-white);
}
.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--gap-big);
	position: sticky;
	top: var(--padding-sm);
}
.asideCollapse {
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 30;
}

.logo {
	width: 60px;
	height: 60px;
}
@media screen and (min-width: 1280px) {
	.asideCollapse {
		position: initial;
		height: initial;
	}
}
