:root {
	--color-white: aliceblue;
	--color-black: #000000;
	--color-blue: #a0ebff;
	--color-purple: #dbceff;
	--color-red: #ce3131;
	--color-green: #13b176;
	--color-gray: #6e6e73;
	--color-gray-hard: #212121;
	--color-gray-light: #cfcfcf;
}
