:root {
	--font-size-1: 4rem;
	--font-size-2: 3.5rem;
	--font-size-3: 3rem;
	--font-size-4: 2.6rem;
	--font-size-5: 2.4rem;
	--font-size-6: 2rem;
	--font-size-7: 1.6rem;
	--font-size-8: 1.4rem;
	--font-size-9: 1.2rem;
	--font-size-10: 1rem;
	--font-poppins: "Poppins", sans-serif;
	--font-montserrat: "Montserrat", sans-serif;
}

body {
	font-family: var(--font-poppins);
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-montserrat);
	font-weight: 700;
}
h1 {
	font-size: var(--font-size-1);
}
h2 {
	font-size: var(--font-size-2);
}
h3 {
	font-size: var(--font-size-3);
}
h4 {
	font-size: var(--font-size-4);
}
h5 {
	font-size: var(--font-size-5);
}
h6 {
	font-size: var(--font-size-6);
}
