.form {
	display: grid;
	gap: var(--gap-md);
}
.filters {
	display: grid;
	gap: var(--gap-sm);
	box-shadow: var(--shadow-md);
	border-radius: var(--radius-md);
	padding: var(--padding-sm);
}
.wrapper1 {
	display: grid;
	grid-auto-flow: column;
	gap: var(--gap-sm);
}
