.form {
	display: grid;
	gap: var(--gap-md);
}
.filters {
	position: relative;
	display: grid;
	gap: var(--gap-sm);
	box-shadow: var(--shadow-md);
	border-radius: var(--radius-md);
	padding: 24px;
}
.close {
	position: absolute;
	top: var(--padding-sm);
	left: var(--padding-sm);
	width: 25px;
	height: 25px;
	color: var(--color-blue);
	cursor: pointer;
}
.wrapper1 {
	display: grid;
	gap: var(--gap-sm);
}
