.form {
	display: grid;
	gap: var(--gap-md);
	position: relative;
	box-shadow: var(--shadow-md);
	border-radius: var(--radius-md);
	padding: var(--padding-big);
}

.close {
	position: absolute;
	top: var(--padding-sm);
	left: var(--padding-sm);
	width: 30px;
	height: 30px;
	color: var(--color-blue);
	cursor: pointer;
}
@media screen and (min-width: 920px) {
	.form {
		box-shadow: initial;
		padding: var(--padding-md);
	}
	.close {
		display: none;
	}
}
