.footer {
	padding: var(--padding-md);
	color: var(--color-gray);
	display: grid;
	justify-items: center;
	gap: var(--gap-md);
	font-size: 1.4rem;
}
.footer a {
	border-bottom: 1px solid var(--color-gray-light);
}
.navAbout,
.wrapperCopyright {
	display: grid;
	gap: var(--gap-sm);
	text-align: center;
}
.navPolitical {
	display: grid;
	grid-auto-flow: column;
	gap: var(--gap-md);
}

@media screen and (min-width: 768px) {
	.footer {
		justify-items: center;
	}
}
