.header {
	background-color: var(--color-gray-hard);
	padding: var(--padding-md);
	display: grid;
	justify-items: start;
	align-items: center;
	position: relative;
}
.iconMenu {
	color: var(--color-white);
}
.logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	filter: invert(1);
}
.mainNav {
	position: absolute;
	top: 72px;
	min-height: calc(100vh - 72px);
}
