.select {
	position: relative;
	display: grid;
	gap: var(--gap-sm);
	justify-items: start;
}
.btn {
	display: grid;
	place-items: center;
	grid-template-columns: 1fr auto;
	width: 100%;
	cursor: pointer;
	line-height: 24px;
	min-height: 40px;
	padding: 8px 16px;
	background-color: var(--color-blue);
	color: var(--color-white);
	border: 1px solid transparent;
	border-radius: var(--radius-sm);
	box-shadow: var(--shadow-sm);
}
.btn:focus {
	box-shadow: var(--shadow-big);
	outline: transparent;
}
.arrow {
	width: 20px;
	height: 20px;
	transition: transform 0.3s;
}

.wrapperAllChecks {
	position: absolute;
	bottom: 120%;
	right: 0;
	display: grid;
	gap: var(--gap-sm);
	grid-template-columns: 1fr 1fr 1fr;
	font-size: var(--font-size-9);
	box-shadow: var(--shadow-md);
	padding: var(--padding-md) var(--padding-big);
	border-radius: var(--radius-sm);
	background-color: var(--color-white);
	width: 100%;
}
.wrapperCheck {
	display: flex;
	gap: var(--gap-sm);
	cursor: pointer;
}

.btnChecksLeft,
.btnChecksRight {
	position: absolute;
	top: 50%;
	width: 20px;
	height: 20px;
	transform: translateY(-50%);
	cursor: pointer;
	padding: 0;
	border: none;
}
.btnChecksLeft:disabled,
.btnChecksRight:disabled {
	color: var(--color-gray-light);
}

.btnChecksLeft {
	scale: -1 1;
}
.btnChecksRight {
	right: 0;
}
.arrowLeft,
.arrowRight {
	max-height: 100%;
}
