@import url("./styles/reset.css");
@import url("./styles/colors.css");
@import url("./styles/global.css");
@import url("./styles/scroll.css");
@import url("./styles/shadows.css");
@import url("./styles/radius.css");
@import url("./styles/fonts.css");
@import url("./styles/paddings.css");
@import url("./styles/gaps.css");
